.menu {
  z-index: 10;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  position: fixed;
  top: 15vh;
  width: 100%;
  height: auto;
}

.menu.show {
  opacity: 1;
  visibility: visible;
}

.menu__header {
  display: flex;
  justify-content: center;
}

.menu__avatar {
  border-radius: 100px
}

.menu__list {
  display: flex;
  flex-flow: column;
}

.menu__item {
  text-decoration: none;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 10px 130px;
  border-radius: 20px;  
  font-size: 25px;
}

.menu__item:active {
  background-color: rgba(0,0,0,0.8);
}

.logout-button {
  color: #FFF;
  width: 50vw;
  height: 3rem;
  border-radius:12px;
  outline: none;
  padding: none;
  background-color: rgba(255, 0, 0, 0.89);
  border: none;
  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  left:0; 
  right:0;
  top:300px; 
  bottom:0;
  margin: auto;
  text-transform: capitalize;
}

.logout-button:active {
  transform: translateY(10px);
}



/*media query for tablet size*/

@media only screen and (min-width: 641px) {

  .menu__item {
  margin: 10px 200px;
}

.logout-button {
  width: 20vw;
}

}

@media only screen and (min-width: 1200px) {

  .menu__item {
  margin: 10px 400px;
}

}






