.menu {
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  transform: translateY(-270px);
  opacity: 0;
  visibility: hidden;
}

.menu.show {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.menu__header {
  height: 160px;

}

.menu__list {
  display: flex;
  flex-flow: column;
}

.menu__item {
  text-decoration: none;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 10px 100px;
  border-radius: 20px;  
  font-size: 25px;
}

.menu__item:active {
  background-color: rgba(0,0,0,0.8);
}









