.SearchMessageDiv {
	background-color: white;
	border-radius: 12px;
	height: 40vh;
	max-width: 60vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.SearchMessageDiv p {
	font-size: 3rem;
}