.SearchMessageDiv {
	background-color: #000;
	border-radius: 12px;
	height: 10vh;
	max-width: 60vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.SearchMessageDiv p {
	font-size: 25px;
	text-transform: capitalize;
	font-family: 'Raleway', sans-serif;
	color: #fff;
}