.placePage {
	background-color: rgba(255,255,255,0.8);
	position: fixed;
	width: 100vw;
	height: 95vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.map-container {
   	position: fixed;
   	height: 25%;
	border: 0.25em solid #9ACD32;
	border-radius: 5px;
}


