body *, body *:before, body *:after { 
  box-sizing: inherit; 
  margin: 0;
  /*overflow: hidden;*/
} 

.inner {
  background-image: url("tokyo-small.jpeg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  padding: 0;
  width: 100vw;
  height: 100vh
}

.title-wrapper {
  background-color: rgba(255,20,147,0.5);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: fixed;
}

.App-navbar__title {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  color: #fff;
  transition: all .2s ease-in-out;
}

.App-navbar__title:active {
  transform: scale(1.3);
  color: #9ACD32;
  margin: auto;
}

.App-navbar {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
}

.App-children-wrapper {
  background-color: white;
  max-width: 95%;
}

.menu-icon {
  color: #fff;
  background-color: rgba(255,20,147,0.5);
  padding: 2rem;
  transition: all .2s ease-in-out;
  position: fixed;
  top: 17vh;
  z-index: 500;
  border-radius: 5px;
}

.menu-icon:active {
  transform: scale(1.5);
}

/*.App-children-wrapper {
  background-color: white;
  width: 100vw;
  max-width: 95%;
}*/

/*media query for tablet size*/

@media only screen and (min-width: 641px)  {
  .inner {
    background-image: url("tokyo.jpeg"); 
    background-position: center;
  }
  .App-navbar__title {
    transition: all 1s ease-in-out;
  }
  .App-navbar__title:hover {
    letter-spacing: 5rem;
    transform: scale(1.1);
    color: #9ACD32;
  }

}




