body *, body *:before, body *:after { box-sizing: inherit; } 

.inner {
  background-image: url("tokyo-small.jpeg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 480px;
}

.title-wrapper {
  background-color: rgba(255,20,147,0.5);
  max-width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.App-navbar__title {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  color: #fff;
}

.App-navbar {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
}

.App-children-wrapper {
  background-color: white;
  max-width: 95%;

}

.menu-icon {
  color: #fff;
  transition: all .2s ease-in-out;
}

.menu-icon:active {
  transform: scale(1.5);
}







