.biteCardDiv {
	background-color: rgba(255,255,255,0.8);
	width: 70vw;
	border-radius: 12px;
	margin: 2vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2vh;
	transition: all .2s ease-in-out;
}

.biteCardDiv:hover {
	transform: scale(1.1);
	background-color: rgba(255,255,255,1);
}

.biteCardDiv:active {
	transform: scale(1.1);
	background-color: rgba(255,255,255,1);
}

.biteCardLink {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	color: #008B8B;
}

.biteInfo {
	color: #008B8B;
}

.bitePrice {
	color: #008B8B;
	letter-spacing: 10px;
}

.dollars {
	font-family: Raleway, sans-serif;
	color: rgb(86, 27, 169);
	font-size: 2rem;
	font-weight: bolder;
}

@media only screen and (min-width: 641px) {
	.biteCardDiv {
		width: 25vw;
		height: 17vh;
	}

}
