body {
	background-color: grey;
	max-width: 100%;
}

.noResultsMessage {
	background-color: white;
	height: 40vh;
	border-radius: 12px;
	display: flex;
	flex-direction: columns;
	justify-content: center;
	align-items: center;
}

.noResultsMessage p {
	font-size: 2.5rem;
}
