.place-info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 60vh;
	text-align: center;
}

.place-info h1 {
	font-family: 'Raleway', sans-serif;
	color: #000;
	text-align: center;
	padding: 20px;
	font-size: 45px;
	text-shadow: 2px 2px #fff;
}

.place-info img {
	max-width: 95vw;
	margin-left: 5px;
	border-radius: 20px;
	box-shadow: 10px 10px 10px #000;
}

.place-info p {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding-top: 8px;
	font-size: 25px;
}

.place-info a {
	text-decoration: none;
	text-align: center;
	color: #FF4500;
	font-family: 'Raleway', sans-serif;
	padding-top: 20px;
	font-size: 20px;
}

.place-info a:hover {
	color: #DAA520;
}

.place-info a:active {
	color: #DAA520;
}

.site-phone {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.info-title {
	font-family: 'Raleway', sans-serif;
	padding: 15px;
	color: #fff;
	text-shadow: 2px 2px #000;
}

.rating-stars {
	text-align: center;
	padding: 8px;

}

.stars-rating {
	text-align: center;
	padding: 8px;
}

.price-level {
	text-align: center;
	padding: 8px;
}

.store-hours {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding: 8px;
}

.store-hours-title {
	text-transform: capitalize;
}

.comments-text h2 {
	text-align: center;
}

.user-name-title {
	color: #FF4500;
}

.comments-title {
	font-family: Comfortaa, sans-serif;
	padding-bottom: 10px;
	color: #000;
	font-size: 30px;
}


.separate-reviews {
	padding: 20px;
	line-height: 1.5;
	text-align: center;
	font-size: 18px;}

.separate-reviews h2 {
	font-family: 'Raleway', sans-serif;
	padding-bottom: 10px;
}

.separate-reviews p {
	font-family: Comfortaa, sans-serif;
}

.fa-barcode {
	visibility: hidden;
}

.font-awesome-icon {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding: 8px;
	text-decoration: underline;
}

/*Media Queries*/

@media only screen and (min-width: 1100px) {

.place-info {
	flex-direction: row;
	padding-bottom: 40px;
}
	
.place-info img {
	max-width: 100%;
	margin: auto;
}

.pic-address-email-phone {
	display: flex;
	flex-direction: column;
	width: 60vw;
}

.comments-text {
	width: 70vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

.restaurant-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0,0,0,0.3);
	width: 20vw;
	margin: auto;
	border-radius: 15px;
	color: #000;
}

.place-info h1 {
	font-size: 60px;
}

.site-phone {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 100px;
}

}









