.searchDiv {
	width: 100vw;
	background-color:rgba(0, 0, 0, 0.9);
	opacity:1.0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
	position: fixed;
  	bottom: 0;
  	padding: 4vh 5vw 4vh 0;
  	margin: 0;
}

.searchDiv h3 {
	color: #FFF;
	font-family: Comfortaa, sans-serif;
	font-size: 1rem;
	margin-bottom: 2rem;
	letter-spacing: 0.5rem;
	padding-top: 0;
	text-align: center;
}

.searchForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 2vh 0;

}

.search-and-clear {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}

.searchForm input {
	width: 86vw;
	height: 3rem;
	border-radius: 12px 0 0 12px;
	outline: none;
	border: 0.5px solid white;
	text-align: center;
	font-size: 1.2rem;
	margin-right: 0;
}

.searchForm button {
	color: #FFF;
	width: 87.5vw;
	height: 3rem;
	border-radius:12px;
	outline: none;
	padding: none;
	background-color: #9ACD32;
	border: 0.5px solid #9ACD32;
	text-align: center;
	font-size: 1.2rem;
	margin-top: 1rem;
}

.searchForm button:active {
	transform: translateY(10px);
}

#clear-search-box {
	max-width: 2vw;
	background-color: #FFF;
	color: black;
	border-radius: 0 12px 12px 0;
	outline: none;
	border: 0.5px solid white;
	padding-right: 2vw;
	height: 2.82rem;
	margin-left: 0;
}

#clear-search-box:active {
	transform: none;
	color: #FF0000;
}

/*media query for tablet size*/

@media only screen and (min-width: 641px)  {
	.searchDiv h3{
		font-size: 3rem;
	}
	.searchForm {
		flex-direction: row;
		vertical-align: bottom;
	}

	.searchForm input {
		width: 70vw;
		border-radius: 12px 0 0 12px;
		padding: 0;

	}

	.searchForm button {
		width: 20vw;
		border-radius: 0 12px 12px 0;
		margin-top: 0;
		padding: 0;
	}

	.searchForm button:active {
	transform: translate(5px, 5px);
	}

	#clear-search-box {
	border-radius: 0;
	height: 3rem;
	padding: 0 1vw 0 0;
	}
}
